@model IEnumerable<TrendAfriqOnline.Models.SellerDetails>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p>
    <a class="btn btn-success" @Html.ActionLink("Create New Client", "Create")</a></p>
<table>
    <tr>
        
        <th>
            Client's Name
        </th>
        <th>
            Address
        </th>
        <th>
           Phone Number(s)
        </th>
        <th>
            Expiry Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.sellerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sellerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sellerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sellerExpiryDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.sellerId }) |
        </td>
    </tr>
}

</table>



<div class="col-lg-6 col-lg-offset-2" id="hButton1">
    <a class="btn btn-warning" @Html.ActionLink("Back to Manager Menu", "Index", "CatalogueManager")</a>
</div>