    <div class="row">
        <div class="col-sm-3">
            <a href="@Url.Action("Details","Catalogue", new { id = 12 })" class="thumbnail">
                <img src="~/Images/advert3b.png" alt="TrendAfriq" />
            </a>
        </div>
        <div class="col-sm-3">
            <a href="@Url.Action("Details", "Catalogue", new { id = 13 })" class="thumbnail">
                <img src="~/Images/advert5b.png" alt="TrendAfriq" />
            </a>
        </div>
        <div class="col-sm-3">
            <a href="@Url.Action("Details", "Catalogue", new { id = 14 })" class="thumbnail">
                <img src="~/Images/berriz_10.png" alt="TrendAfriq" />
            </a>
        </div>
        <div class="col-sm-3">
            <a href="@Url.Action("Details", "Catalogue", new { id = 15 })" class="thumbnail">
                <img src="~/Images/berriz_3.png" alt="TrendAfriq" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="@Url.Action("Details", "Catalogue", new { id = 16 })" class="thumbnail">
                <img src="~/Images/advert3b.png" alt="TrendAfriq" />
            </a>
        </div>
        <div class="col-sm-3">
            <a href="@Url.Action("Details", "Catalogue", new { id = 17 })" class="thumbnail">
                <img src="~/Images/advert5b.png" alt="TrendAfriq" />
            </a>
        </div>
        <div class="col-sm-3">
            <a href="@Url.Action("Details", "Catalogue", new { id = 18 })" class="thumbnail">
                <img src="~/Images/berriz_10.png" alt="TrendAfriq" />
            </a>
        </div>
        <div class="col-sm-3">
            <a href="@Url.Action("Details", "Catalogue", new { id = 19 })" class="thumbnail">
                <img src="~/Images/berriz_3.png" alt="TrendAfriq" />
            </a>
        </div>
    </div>
